<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/ticket_master_logo.png') }}" type="image/x-icon">
    <title>Ticket Master</title>
</head>

<body>
    <ul>
        <li>
            <a href="{{ url_for('christmas_story') }}">
                <img src="{{ url_for('static', filename='images/christmas_story.jpeg') }}" alt="" width="100%">
                <h2>A Musical Christmas Carol</h2>
                <h3>Wed, Dec 13 - Sat, Dec 23, 2023</h3>
                <p>BYHAM THEATER</p>
                <p>Pittsburgh CLO</p>
                <p>Broadway & Musical Theater</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="{{ url_for('static', filename='images/country_girl.jpeg') }}" alt="" width="100%">
                <h2>Girl From the North Country</h2>
                <h3>Tue, Jan 9 - Sun, Jan 14, 2024</h3>
                <p>BENEDUM CENTER</p>
                <p>PNC Broadway in Pittsburgh</p>
                <p>Broadway & Musical Theater</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="{{ url_for('static', filename='images/Doubtfire.jpeg') }}" alt="" width="100%">
                <h2>Mrs. Doubtfire</h2>
                <h3>Tue, Nov 28 - Sun, Dec 3, 2023</h3>
                <p>BENEDUM CENTER</p>
                <p>PNC Broadway in Pittsburgh</p>
                <p>Broadway & Musical Theater</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="{{ url_for('static', filename='images/fair_lady.jpeg') }}" alt="" width="100%">
                <h2>My Fair Lady</h2>
                <h3>Tue, Jan 30 - Sun, Feb 4, 2024</h3>
                <p>BENEDUM CENTER</p>
                <p>PNC Broadway in Pittsburgh</p>
                <p>Broadway & Musical Theater</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="{{ url_for('static', filename='images/mormon_book.jpeg') }}" alt="" width="100%">
                <h2>The Book Of Mormon</h2>
                <h3>Tue, Feb 27 - Sun, Mar 3, 2024</h3>
                <p>BENEDUM CENTER</p>
                <p>PNC Broadway in Pittsburgh</p>
                <p>Broadway & Musical Theater</p>
            </a>
        </li>
        <li>
            <a href="">
                <img src="{{ url_for('static', filename='images/talk_back.jpeg') }}" alt="" width="100%">
                <h2>Broadway Talk Back Series</h2>
                <h3>Wed, Nov 29, 2023</h3>
                <p>BENEDUM CENTER</p>
                <p>Pittsburgh Cultural Trust</p>
                <p>Broadway & Musical Theater</p>
            </a>
        </li>

    </ul>
</body>

</html>