<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Summary</title>
</head>
<body>
    <h1>Transaction completed:</h1>

    <h2>Ticket information:</h2>
    <ul>
        <li> Show: {{ play_name }} </li>
        <li> Date: {{ order.date }} </li>
        <li> Seat Zone: {{ order.seat_zone }} </li>
        <li> Seat Sector: {{ order.seat_sector }} </li>
        <li> Customer Name: {{ order.customer_name }} </li>
        <li> Ticket Price: {{ order.ticket_price }} </li>
    </ul>

    <a href="{{ url_for('default') }}"> Back to the main page</a>
</body>
</html>